<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 806}}</string>
		<string>{{266, 0}, {1324, 806}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02D28D17-9900-4F4A-B1EC-FE9266F19B13</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>0BD39E6F-5ABC-4A56-91E3-887B61F72966</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4CF964B6-3611-498F-9B06-557EF2CEFC92</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5641A8C0-884F-4C39-9C47-EB7BFACB73F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C2F8A02C-C4E9-40DD-878E-1437AED8E963</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {1078, 776}}</string>
		<string>{{1079, 0}, {245, 776}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {1078, 716}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>37 245 1590 834 0 0 1728 1079 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {621, 290}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
