<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {265, 812}}</string>
		<string>{{266, 0}, {769, 812}}</string>
	</array>
	<key>binderWidth</key>
	<real>265</real>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>1CDFACFC-26E5-4D80-9AD2-24B85C7FAFAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>3235AABD-C6FC-41FE-BF87-81C6694566F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>4D3CF17A-C9DB-4703-864D-115FCC3E8777</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5641A8C0-884F-4C39-9C47-EB7BFACB73F1</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9244C190-7AFE-4065-A947-59F2898F796E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>AE8BCB40-8CD3-44E9-A029-EFDBFB897DD4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>BA1108B6-D88C-4C58-9629-189F748F2CFE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C1DD02B5-E104-40F2-B910-750B9D444DB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C341F091-E04B-4D12-B18F-6685DA0A50E7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C50A3C19-EF63-4307-A97F-85C2EFBBC7AB</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DA035F06-5C9F-47BF-8F93-ADECA9BF579D</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>DDA87D8C-29B8-462D-9839-BA2FEBC09AC4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EAAE4896-FE10-41C8-B75B-D849D5D4837F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>F40AE388-1C45-493D-AF10-31C1A82B1D5A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FB15E44A-6E03-4785-BC39-87C5FE716CF7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>Project</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {409, 802}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 15264}, {754, 726}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>1013 64 1035 840 0 0 2048 1127 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
