<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NotesScaleFactor</key>
	<real>1</real>
	<key>QRPanelSettings</key>
	<dict>
		<key>2ABE254A-5986-40E0-9A38-E137CEDAC1C5</key>
		<dict>
			<key>BinderUUID</key>
			<string>2ABE254A-5986-40E0-9A38-E137CEDAC1C5</string>
			<key>CurrentMetaData</key>
			<integer>-1</integer>
			<key>MainPaneWidth</key>
			<real>475</real>
			<key>ProjectBookmarksSplitInfo</key>
			<array>
				<string>{{0, 0}, {225, 495}}</string>
				<string>{{235, 0}, {443, 495}}</string>
			</array>
			<key>ProjectBookmarksVisible</key>
			<false/>
			<key>ShowsFormatBar</key>
			<false/>
			<key>ShowsMetaData</key>
			<false/>
			<key>SplitInfo</key>
			<array>
				<string>{{0, 277}, {475, 167}}</string>
			</array>
			<key>TextSettings</key>
			<dict>
				<key>hasMultiplePages</key>
				<false/>
				<key>isRulerVisible</key>
				<false/>
				<key>lineNumberingInterval</key>
				<integer>1</integer>
				<key>showsLineNumbers</key>
				<false/>
				<key>textFocusMode</key>
				<integer>0</integer>
				<key>textScaleFactor</key>
				<real>1</real>
				<key>usesFacingPages</key>
				<false/>
				<key>usesTypewriterScrolling</key>
				<false/>
			</dict>
			<key>WindowFrame</key>
			<string>785 450 475 528 0 0 2048 1127 </string>
		</dict>
	</dict>
	<key>binderSplitFrames</key>
	<array>
		<string>{{0, 0}, {379, 650}}</string>
		<string>{{380, 0}, {620, 650}}</string>
	</array>
	<key>bookmarksSelectionInfo</key>
	<dict>
		<key>02241D74-DB68-4583-A46A-FD7FF5A4EB52</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>15C59629-285C-47E9-9E5E-8A2507B7F8EF</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>18A4A744-6FC6-4185-80AA-0770484E4678</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>1A75DCE0-F10A-4123-9596-3CA75121E6C7</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2ABE254A-5986-40E0-9A38-E137CEDAC1C5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>2F9B060B-CF79-41EE-90B5-D0FEF12E5AB6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>305C75BA-3CD3-4055-8F48-0EBB83E1EC45</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>42482A65-71FF-4293-997A-6ABE89F682F9</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>53C0C287-EDAA-465F-82B4-C09C4F66D674</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>55BE4ACD-623E-4D7A-915B-BBF8B8E90F2F</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>5619BB08-0833-4817-8AA7-B1C90FFB24E2</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>6799E79E-392E-4772-A91B-8D5CF9D6E757</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>7477F752-B80D-478B-A7FC-B3FBF12B6CAE</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>773E611F-DC0E-4365-8684-1D5658B28680</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>782B84BA-C3BD-402E-8928-3A6DF94822C0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>846E0749-76C5-413F-81AA-8EC50ECF287A</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>888BA4C7-78CD-452F-9F8F-9DFD133218D0</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>939A7134-6189-4494-B0F0-141760C1FC6E</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>969B58F9-7FC1-4A67-B3E8-08829A209058</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>9B9D4CBF-2387-49E1-88E6-83CA54BE7ED6</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A62DE642-A68F-4943-9B87-AFD40D909B20</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A71DCE3B-E06F-4F2D-9BA0-B1BBF4EC36D4</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>A7813AF5-2C0F-40E5-9941-F727E1556687</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>B5FD9CF0-E4CF-4C32-8C0E-65EE519A9046</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C3DCA333-ECDB-4703-BA99-57B8DA65B614</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C41F97A9-191F-4938-B198-5A5319D20804</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>C773090A-18DD-4B47-8D0C-659357168C74</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CAF14E72-A317-45A1-BE59-F87C15A36844</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>CF1C6C2E-5C86-478B-B637-36A49F0A55A5</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>E0732E70-A717-413A-B125-C55609EE9D33</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>EE8747D6-A856-4D47-956A-DF440EEF0D22</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
		<key>FAACA971-2A30-4ED2-A7C1-AC09A5A50C31</key>
		<dict>
			<key>Row</key>
			<integer>-1</integer>
		</dict>
	</dict>
	<key>collectionsRepresentedBinderDocumentsInfo</key>
	<dict>
		<key>MainID</key>
		<string></string>
		<key>SupportingID</key>
		<string></string>
	</dict>
	<key>fullScreenTextEditorSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1.25</real>
	</dict>
	<key>inspectorSplitFrames</key>
	<array>
		<string>{{0, 0}, {409, 640}}</string>
	</array>
	<key>inspectorWidth</key>
	<real>245</real>
	<key>mainDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainDocumentEditor.scrollRect</key>
	<string>{{0, 594}, {605, 594}}</string>
	<key>mainDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>mainWindowFrame</key>
	<string>927 150 1000 678 0 0 2048 1127 </string>
	<key>supportingDocumentEditor.dockedQRTextSettings</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentEditor.scrollRect</key>
	<string>{{0, 0}, {606, 294}}</string>
	<key>supportingDocumentEditor.textEditorState</key>
	<dict>
		<key>textScaleFactor</key>
		<real>1</real>
	</dict>
	<key>supportingDocumentViewIsCurrent</key>
	<false/>
</dict>
</plist>
